#!/usr/bin/env python
PACKAGE = "force_estimation"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

size_enum = gen.enum([ gen.const("D415",      int_t, 0, "D415"),
                       gen.const("SR305",     int_t, 1, "SR305")],
                      "An enum to set sensor")
gen.add("sensor_type", int_t, 0, "Set a sensor type", 0, 0, 1, edit_method=size_enum)
gen.add("force_vis_threshold", double_t, 0, "Lower limit of force value to draw", 0.45, 0, 0.9)
gen.add("calc_lifting_direction", bool_t, 0, "Set true if the lifting direction is needed", False)
object_enum = gen.enum([ gen.const("Interactive_marker",      int_t, 0, "Interactive_marker"),
                         gen.const("Object_recognition",     int_t, 1, "Object_recognition")],
                        "An enum to set object recognition")
gen.add("object_position", int_t, 0, "Select how to specify object position", 0, 0, 1, edit_method=object_enum)
gen.add("object_radius", double_t, 0, "Object radius used for lifting planning", 0.12, 0.01, 0.30)
gen.add("draw_calibration_objects", bool_t, 0, "Set true to draw calibration objects", False)
gen.add("smooth_lifting_direction", bool_t, 0, "Set true to make the planned direction stable (experimental)", True)

exit(gen.generate(PACKAGE, "force_estimation", "force_estimation"))
