<launch>
  <arg name="use_rviz" default="true"/>

  <!-- Launch rviz -->
  <node if="$(arg use_rviz)"
	name="rviz" pkg="rviz" type="rviz"
	args="-d $(find force_estimation)/config/fmap_visualizer_AIREC.rviz"/>
  
  <!-- Currently, the base frame of the forcemap is hard-coded. -->
  <node pkg="tf" type="static_transform_publisher" name="fmap_frame_broadcaster" args="0.605 0.0 0.18 0 0 0 world fmap_frame 100" />

</launch>
